$this->_belongs_to = array(
		array('model' => '${1:other_model}', 'identity' => '${2:other_identity}', 'foreign_key' => '${3:other_pk_in_my_model}', 'orders_by' => '${4:id} ${5:ASC}', 'name' => '${6:$1}'${7: ,'visible' => false}),
);

${8}
