$this->_belongs_to = array(
		array('model' => '${1:other_model}', 'identity' => '${2:other_identity}', 'foreign_key' => '${3:other_pk_in_my_model}', 'order_by' => '${4:id} ${5:ASC}', 'name' => '${6:$1}'${7:, 'enable' => false}${8:, 'shortcut' => 'other_shortcut_filed', 'further_info' => 'other_further_info_filed'}),
);

${8}
