$this->_many_many = array(
		array('model' => '${1:other_model}', 'identity' => '${2:other_identity}', 'relation_model' => '${3:many_many_model}', 'name' => '${4:$3}'${5: ,'visible' => false}),
);

${6}
