$this->_filter_fields = array(
		'${1:model.field}' => array( 
				'type' => '${2:table/mptt/manual}',
				'input_type' => '${3:checkbox/radio/text}',
				'name' => '${4:name}',
				${5:'identity' => 'identity_field_name',}
				${6:'order_by' => 'field_name ASC/DESC',}
		),${7}
);

${8}
