'source' => function(){
		${1}

		return array(
				'filter_keys' => array(
						'input_key' => 'input_value'
				),
				'filter_identities' => array(
						'input_key' => 'input_identity'
				),
		);
},
