$this->_target = array(
		'target_field' => '${1:target_field_in_other_model}',
		'master_model' => '${2:target_control_model}',
		'master_field' => '${3:target_control_field}',
		'master_field_value' => '${4:target_control_value_connect_to_my_model}'
);

${5}
