$this->_target_to = array(
		'target_field' => '${1:target_field_in_my_model}',
		'master_model' => '${2:target_control_model}',
		'master_field' => '${3:target_control_field}',
		'master_foreign_key' => '${4:target_control_key_in_my_model}',
		'target' => array(
				'${5:target_control_value}' => array( 'model' => '${6:connect_target_model}', 'identity' => '${7:connect_target_identity}'),${8}
				'${9:target_control_ignore_value}' => '',${10}
		)
);

${11}
